In [11]:
import pandas as pd
import os
from pathlib import Path

# Dossier courant
data_dir = Path('.')

# Liste les fichiers parquet
parquet_files = sorted(list(data_dir.glob("*.parquet")))
print(f"üìÅ Fichiers parquet trouv√©s ({len(parquet_files)}):")
for file in parquet_files:
    print(f"  ‚Ä¢ {file.name}")

üìÅ Fichiers parquet trouv√©s (5):
  ‚Ä¢ consumption_panel_dataset.parquet
  ‚Ä¢ part2_clean_step1.parquet
  ‚Ä¢ part2_clean_step2.parquet
  ‚Ä¢ part3_clean_step1.parquet
  ‚Ä¢ part3_clean_step2.parquet

## 1. consumption_panel_dataset.parquet

In [22]:
df1 = pd.read_parquet('consumption_panel_dataset.parquet')
print(f"Shape: {df1.shape}")
print(f"\nColonnes: {list(df1.columns)}")
print(f"\nMemory: {df1.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
df1.head(10)

Shape: (1210, 21)

Colonnes: ['code_piece', 'year', 'target_cons', 'lag1', 'lag2', 'lag3', 'cons_mean_3y', 'cons_trend', 'cons_mean_all_past', 'qte_installee', 'stock_actuel', 'stock_securite', 'stock_min', 'stock_max', 'qte_demandee_3ans', 'lag1_was_missing', 'lag2_was_missing', 'lag3_was_missing', 'qte_installee_was_missing', 'stock_securite_was_missing', 'split']

Memory: 0.27 MB

,code_piece,year,target_cons,lag1,lag2,lag3,cons_mean_3y,cons_trend,cons_mean_all_past,qte_installee,...,stock_securite,stock_min,stock_max,qte_demandee_3ans,lag1_was_missing,lag2_was_missing,lag3_was_missing,qte_installee_was_missing,stock_securite_was_missing,split
0,10016.00007,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,train
1,10016.00007,2016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,train
2,10016.00007,2017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,train
3,10016.00007,2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,train
4,10016.00007,2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,train
5,10016.00007,2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,train
6,10016.00007,2021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,val
7,10016.00007,2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,val
8,10016.00007,2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,test
9,10016.00007,2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,1.0,1.0,0,0,0,0,0,test

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210 entries, 0 to 1209
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   code_piece                  1210 non-null   object
 1   year                        1210 non-null   int64
 2   target_cons                 1210 non-null   float64
 3   lag1                        1210 non-null   float64
 4   lag2                        1210 non-null   float64
 5   lag3                        1210 non-null   float64
 6   cons_mean_3y                1210 non-null   float64
 7   cons_trend                  1210 non-null   float64
 8   cons_mean_all_past          1210 non-null   float64
 9   qte_installee               1210 non-null   float64
 10  stock_actuel                1210 non-null   float64
 11  stock_securite              1210 non-null   float64
 12  stock_min                   1210 non-null   float64
 13  stock_max                   1210 non-null   float64
 14  qte_demandee_3ans           1210 non-null   float64
 15  lag1_was_missing            1210 non-null   int8
 16  lag2_was_missing            1210 non-null   int8
 17  lag3_was_missing            1210 non-null   int8
 18  qte_installee_was_missing   1210 non-null   int8
 19  stock_securite_was_missing  1210 non-null   int8
 20  split                       1210 non-null   object
dtypes: float64(13), int64(1), int8(5), object(2)
memory usage: 157.3+ KB

## 2. Read the parquet file 'file.parquet' as a dataframe

In [ ]:

file_to_read = 'part2_clean_step1.parquet'
# A remplacer par le fichier souhait√© :
# 'part2_clean_step1.parquet'
# 'part2_clean_step2.parquet'
# 'part3_clean_step1.parquet'
# 'part3_clean_step2.parquet'
 
df = pd.read_parquet(file_to_read)
print(f"Shape: {df.shape}")
print(f"\nColonnes: {list(df.columns)}")
print(f"\nMemory: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
df.head(10)

Shape: (121, 30)

Colonnes: ['code_reference', 'code_piece', 'unit√©', 'D√©signation langue', 'qte_installee', 'stock_securite', 'qte_demandee_3ans', 'prix_uni', 'stock_actuel', 'cons_moy_mensuelle', 'stock_min', 'stock_max', 'classif', 'D√©lai de livr pr√©vi', 'observation', 'cons_2024', 'cons_2023', 'cons_2022', 'cons_2021', 'cons_2020', 'cons_2019', 'cons_2018', 'cons_2017', 'cons_2016', 'cons_2015', 'cons_2014', 'cons_2013', 'cons_2012', 'cons_moy_annuelle', 'prix_uni_alt']

Memory: 0.06 MB

,code_reference,code_piece,unit√©,D√©signation langue,qte_installee,stock_securite,qte_demandee_3ans,prix_uni,stock_actuel,cons_moy_mensuelle,...,cons_2019,cons_2018,cons_2017,cons_2016,cons_2015,cons_2014,cons_2013,cons_2012,cons_moy_annuelle,prix_uni_alt
0,Asset 0124,10016.00007,6.0,FLECTOR ROTEX KTR TAILLE : 38 DURETE : SHORE A,2.0,1.0,1,76.6500,3,0.000000,...,0,0,0,0,0.0,0.0,0.0,0.0,0.000000,76.6500
1,Asset 0125,10016.00015,6.0,KTR BOWEX M-48MOD,1.0,1.0,1,110.4000,0,0.000000,...,0,0,0,0,0.0,0.0,0.0,0.0,NaN,NaN
2,Asset 0126,10016.00016,6.0,ACCOUPLEMENT REX VIVA TYPE VS TAILLE: 125 NB :...,8.0,4.0,36,2921.5619,0,0.766667,...,6,0,4,0,0.0,0.0,1.0,10.0,2.272727,2921.5619
3,Asset 0127,10016.00017,6.0,ACCOUPLEMENT REX VIVA TYPE VS TAILLE: 245 DIME...,3.0,2.0,18,9248.8633,0,0.216667,...,2,2,0,0,2.0,NaN,1.0,0.0,1.090909,9248.8633
4,Asset 0128,10016.00018,6.0,ACCOUPLEMENT REX VIVA TYPE VS TAILLE: 290 DIME...,6.0,2.0,20,10741.2913,1,0.183333,...,3,0,1,0,1.0,1.0,0.0,1.0,0.818182,10741.2913
5,Asset 0129,10016.00019,6.0,ACCOUPLEMENT REX VIVA TYPE VS TAILLE: 130 DIME...,3.0,2.0,18,2892.2000,0,0.133333,...,1,0,0,0,0.0,2.0,2.0,1.0,0.909091,2892.2000
6,Asset 0130,10016.00020,6.0,ACCOUPLEMENT REX VIVA TYPE VS TAILLE: 130 DIME...,13.0,5.0,60,3513.0900,0,0.783333,...,10,0,6,0,0.0,5.0,5.0,1.0,2.727273,3513.0900
7,Asset 0131,10016.00021,6.0,ACCOUPLEMENT REX VIVA TYPE VS TAILLE: 150 DIME...,3.0,1.0,12,3784.4600,1,0.183333,...,0,0,1,0,1.0,0.0,0.0,0.0,0.181818,3784.4600
8,Asset 0132,10016.00033,6.0,"ACCOUPLEMENT METASTREAM TYPE: TLKS , SERIE: ...",2.0,1.0,3,34500.0000,1,0.016667,...,0,0,0,1,0.0,0.0,0.0,0.0,0.181818,34500.0000
9,Asset 0133,10016.00059,6.0,ACCOUPLEMENT REX OMEGA TYPE ES TAILLE 4-R LONG...,9.0,2.0,18,1808.2120,0,0.166667,...,0,0,0,2,0.0,2.0,3.0,0.0,1.090909,1808.2120

## üìà Statistiques g√©n√©rales